{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <p>
Bienvenue sur notre site de vente de nouilles asiatiques, où l'art culinaire rencontre la tradition et l'innovation. Plongez dans un monde de saveurs exquises, d'arômes envoûtants et de textures délicieusement variées, provenant des quatre coins de l'Asie. Explorez notre sélection soigneusement curatée de nouilles authentiques, des classiques intemporels aux créations contemporaines, et laissez-vous emporter dans un voyage gustatif incomparable. Que vous soyez un amateur de cuisine asiatique chevronné ou simplement curieux de découvrir de nouveaux plaisirs culinaires, notre site vous invite à découvrir l'essence même de la gastronomie asiatique à travers nos délicieuses nouilles. Bienvenue dans notre monde où chaque bouchée raconte une histoire unique et chaque plat est une aventure à savourer.
    </p>
{% endblock %}
